HTML, BODY {
  height: 100%;
}
BODY {
  background-size: 0.12em 100%;
  font: 16em/1 Arial;
}
.text--line {
  font-size: 0.5em;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.text-copy {
  fill: gray;
  stroke: black;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  stroke-dasharray: 100%;
  animation: draw 2s infinite linear;
}
@keyframes draw {
  50% {
    stroke-dashoffset: 100%;
  }
}
